@model Leave_Management.Models.ViewModels.LeaveAllocationsViewViewModel

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<h3>جزئیات مرخصی - @Model.Employee.Firstname @Model.Employee.Lastname</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Firstname)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Firstname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TaxId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TaxId)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateJoined)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateCreated)
        </dd>*@
    </dl>
</div>

<hr />
<br/>
<h4>مرخصی های اختصاص یافته</h4>
@{
    <div class="card">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.LeaveAllocations)
            {
            <li class="list-group-item">
                <h6>
                    @item.LeaveType.Name 
                    <span class="badge badge-info">
                        @item.NumberOfDays
                    </span>
                    <a asp-action="Edit" asp-controller="LeaveAllocation" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm text-black-50">
                        <i class="fa fa-pencil"></i> ویرایش
                    </a>
                </h6>
            </li>
            }
        </ul>
    </div>
}
<br/>
<div>
    <a asp-action="ListEmployees" class="btn btn-outline-secondary">بازگشت</a>
</div>