@model IEnumerable<Leave_Management.Models.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "فهرست کارمندان";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
<br />
<h2>@ViewData["Title"]</h2>
<br />
<br />

<table class="table table-hover table-striped" id="tblData">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@

                    <a class="btn btn-outline-success btn-sm" asp-controller="LeaveAllocation" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        جزئیات
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Persian.json"
                }
            });
        });
    </script>
}