@model Leave_Management.Models.ViewModels.LeaveRequestAdminViewModel

@{
    ViewData["Title"] = "Index";
}
<h1>گزارش درخواست های مرخصی</h1>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="LeaveRequest">
        <i class="far fa-plus"></i> ثبت مرخصی جدید برای کارمند
    </a>
</p>

<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fa fa-envelope-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.TotalRequests</span>
                <span class="info-box-number text-sm">@Html.DisplayNameFor(model => model.TotalRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-success">
                <i class="fa fa-check-circle"></i>
                @*<i class="fa fa-files-o"></i>*@
            </span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.ApprovedRequests</span>
                <span class="info-box-number text-sm">@Html.DisplayNameFor(model => model.ApprovedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-warning">
                <i class="fa fa-exclamation-circle"></i>
                @*<i class="fa fa-flag-o"></i>*@
            </span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.PendingRequests</span>
                <span class="info-box-number  text-sm">@Html.DisplayNameFor(model => model.PendingRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fa fa-times-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.RejectedRequests</span>
                <span class="info-box-number text-sm">@Html.DisplayNameFor(model => model.RejectedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<br />
<br />
<br />

<table class="table table-hover table-striped" id="tblData">
    <thead>
        <tr>
            <th>
                نام کارمند
            </th>
            <th>
                نوع مرخصی
            </th>
            <th>
                تاریخ شروع
            </th>
            <th>
                تاریخ پایان
            </th>
            <th>
                تاریخ درخواست
            </th>
            <th>
                وضعیت درخواست
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequest)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname) @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">تائید شده <i class="fa fa-check"></i></span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">تائید نشده <i class="fas fa-ban"></i></span>
                    }
                    else
                    {
                        <span class="badge badge-warning">در دست بررسی <i class="far fa-hourglass"></i> </span>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fal fa-file-alt"></i> جزئیات
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Persian.json"
                }
            });
        });
    </script>
}